.header-component{
    background-color: #B6E2C8;
    display: flex;
    justify-content: center;
}

.header-component img{
    width: 310px;
    height: 200px;
    margin-top: -65px;
    cursor: pointer;
}

.homepage-navbar-component{
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #B6E2C8;
}