.phone-offer-details-main{
    width: 100%;
}

.phone-offer-details-table th{
    text-align: center;
    font-size: 38px;
    padding: 20px;
}

.phone-offer-details-table thead tr{
    background-color: #a6c9ab;
}

.phone-offer-details-table-row:nth-of-type(even){
    background-color: #eef2f0;
}

.phone-offer-details-table-row{
    border: 1px solid gainsboro;
}

.phone-offer-details-table{
    border-collapse: collapse;
    width: 80%;
    table-layout: fixed;
}

.phone-offer-details-table-row td{
    text-align: center;
    word-wrap: break-word;
    font-size: 22px;
    padding: 20px;
}

.phone-offer-details-table-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.phone-offer-details-table-section{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.phone-offer-details-table-row td a{
    text-decoration: none;
}

.phone-offer-details-table-row td a:hover{
    color: rgb(40, 117, 40);
}

.phone-offer-details-last-updated-header{
    width: 25%;
    margin-left: 5%;
    padding: 10px;
    border: 1px solid rgb(199, 193, 193);
    background-color: #dadedc;
    border-radius: 50px;
    text-align: center;
}

.phone-offer-details-last-updated-wrapper{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.phone-offer-details-edit-header{
    width: 100%;
    margin-left: 5%;
    padding-top: 10px;
    border: 1px solid black;
    background-color:  rgb(232, 243, 121);
    border-radius: 30px;
    text-align: center; 
    padding: 10px;
}

.phone-offer-details-edit-header:hover{
    cursor: pointer;
    background-color: rgb(212, 219, 140);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: box-shadow 0.5s, background-color 0.5s ;    
}

.link-offer-edit{
    width: 15%;
    height: fit-content;
    text-decoration: none;
    display: flex;
}

.validate-offer-button{
    font-size: 17px;
    padding: 10px;
    background-color:  rgb(170, 211, 240);
    border-radius: 30px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: 10%;
    width: 15%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.validate-offer-button:hover{
    cursor: pointer;
    background-color: rgb(149, 187, 215);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: box-shadow 0.5s, background-color 0.5s ;
}

.offer-valid-header{
    font-size: 17px;
    padding: 10px;
    background-color: #96d5b0;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: 10%;
    text-align: center;
    width: 15%;
    font-weight: bold;
    font-size: 19px;
}


