.phone-with-offers-table-row{
    font-size: 18px;
}

.phone-with-offers-table-row > td:first-of-type {
    font-weight: bold;
}

.phone-offer-specifications-button{
    font-size: 17px;
    padding: 10px;
    background-color: #B6E2C8;
    border-radius: 20px;
    border: 1px solid black;
}

.phone-with-offers-table-row td:last-of-type{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.phone-offer-specifications-button:hover{
    cursor: pointer;
    background-color: rgb(166, 201, 171);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: box-shadow 0.5s, background-color 0.5s ;
}
