

.phonecardgrid-wrapper{  
    background-color: #DEE4E1;
}


.phonecardgrid-grid-container{
    width: fit-content;
}

.phonecardgrid-item{
    display: flex;
    justify-content: center;
}

.pagination-wrapper{
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}



