.phonecard{
    /* background-color: #B6E2C8; */
    padding:15px;
    justify-items: center;
    padding-top: 35px;
    width: 250px;
    height: 400px;
    border-radius: 25px;
    border: 3px solid #B6E2C8;
    border-radius: 50px;
}

.phonecard:hover{
    /* background-color: #B6E2C8; */
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: box-shadow 0.5s, background-color 0.5s ;
    border-radius: 50px;
}

.phonecard img{
    width: 200px;
    height: 250px;
    border-radius: 25px;
    margin-left: 25px;
}

.phonecard-paper{
    width: fit-content;
    border-radius: 25px;    
}

.phonecard-lowestprice-header, .phonecard-totaloffers-header{
    margin-top: 20px;
    text-align: right;
}

.phonecard-totaloffers-header{
    margin-top: -15px;
}

.phonecard-model-header{
    text-align: center;
    border: 1px solid rgb(161, 165, 163);
    border-radius: 20px 100px;
    background-color: rgb(222, 228, 225);
    padding: 5px;
    padding-right: 10px;
    
}


.phonecard-lowestprice{
    font-size: 20px;
}

.phonecard-totaloffers{
    font-size: 20px;
}

.phonecard-lowestprice-header{
    /* color: rgb(24, 117, 24); */
}

.phonecard-totaloffers-header{
    /* color: rgb(24, 117, 24); */
}

.phonecard > h5 > p{
    display: inline;
}

.phonecard > h6 > p{
    display: inline;
}