.phonelux-navbar{
    width: fit-content;
    margin-right: 20px;
}

.navbar-account-box-icon{
    font-size: 50px;
    margin-top: 10px;
}

.navbar-logout-box-icon{
    font-size: 40px;
    margin-top: 10px;
}

.navbar-account-box-icon:hover{
    cursor: pointer;
}

.navbar-logout-box-icon:hover{
    cursor: pointer;
}

.navbar-favouriteoffers-icon:hover{
    cursor: pointer;
}

.navbar-superadmin-icon:hover{
    cursor: pointer;
}

