.phone-with-offers-sub-main{
    background-color: #DEE4E1;
}

.phone-with-offers-totaloffers-div{
    display: flex;
    justify-content: end;
}

.phone-with-offers-totaloffers-div > h3{
    margin-right: 30px;
}

.phone-with-offers-image-wrapper{
    display: flex; 
    justify-content: center;
}

.phone-with-offers-image{
    width: 250px;
    height: 300px;
}

.phone-with-offers-table-row:nth-of-type(even){
    background-color: #eef2f0;
}

.phone-with-offers-model-wrapper{
    display: flex;
    justify-content: center;
}

.phone-with-offers-table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.phone-with-offers-table-row{
    border: 1px solid gainsboro;
    padding: 20px ;
}

.phone-with-offers-table td{
    text-align: center;
    word-wrap: break-word;
}

.phone-with-offers-table-head{
    background-color: #a6c9ab;
    font-size: 22px;
}

.phone-with-offers-model-header{
    border: 1px solid gray;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px 60px;
    box-shadow: inset 0px 0px 25px 0px rgb(120, 190, 139);
    outline: none;
    background-color: #c4f3d8;
}

.phone-with-offers-totaloffers-header{
    padding: 10px;
    border: 1px solid rgb(199, 193, 193);
    background-color: #B6E2C8;
    border-radius: 50px;
}
